redis
Celery
sanic
sanic_cors
wechatpayv3
ujson
pytz
GPUtil
pillow
pyyaml
opencv_python
supabase
fastapi
loguru
aiosupabase
jinja2
aiofile
alibabacloud_dysmsapi20170525==2.0.24

google-auth
google-auth-oauthlib
google-auth-httplib2
