<div class="main top_container choose_button" style="text-decoration:underline;float: right;height: auto"><a href="logout">logout</a></div>
<div class="main top_container choose_button" style="text-decoration:underline;float: right;height: auto"><a href="table">table</a></div>
<div class="main top_container choose_button" style="text-decoration:underline;float: right;height: auto"><a href="main">ocr</a></div>
<div class="main top_container choose_button" style="text-decoration:underline;float: right;height: auto"><a id="screen_shot_btn">screen_shot</a></div>
