<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OCR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="static/css/layui.css">
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/layui.js"></script>
</head>
<body>
<div class="main layui-clear">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">OCR</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <h1 style="color: red">{{ msg }}</h1>
                        <form action="login" method="post">
                            <div class="layui-form-item">
                                <label for="user_id" class="layui-form-label layui-icon layui-icon-username"></label>
                                <div class="layui-input-inline">
                                    <input type="text" id="user_id" name="user_id" required lay-verify="required"
                                           placeholder="IDを入力してください" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="user_password"
                                       class="layui-form-label layui-icon layui-icon-password"></label>
                                <div class="layui-input-inline">
                                    <input type="password" id="user_password" name="user_password" required
                                           lay-verify="required" placeholder="パスワードを入力してください" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <input style="display: none" type="text" name="login_datetime"
                                       id="login_datetime">
                            </div>
                            <div class="layui-form-item">
                                <button type="submit" class="layui-btn" lay-filter="sub" lay-submit>ログイン</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</body>
<script>
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    layui.use('form', function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功#}
        form.render();
    });

    $(function () {
        $("#login_datetime").val(new Date().Format("yyyy-MM-dd_HH:mm:ss"));
    });
</script>
</html>

